### TypeScript ###
**/*.generated.ts
dist/**
tests/runner/**

### Github Action ###
## TypeScript package output
# Keep the `ts` bundle output because the Github Action requires `.js` as the entry point
!/dist/index.js
!/dist/licenses.txt

### Node ###
# Dependency directories
node_modules/
jspm_packages/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript cache
*.tsbuildinfo

## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

## Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Jetbrains IDE ###
*.iws
*.iml
*.ipr
/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/modules/
!/.idea/modules/**
!/.idea/prettier.xml
!/.idea/.gitignore

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
